@font-face {
  font-family: "iconfont"; /* Project id 4385832 */
  src: url('iconfont.woff2?t=1711806371602') format('woff2'),
       url('iconfont.woff?t=1711806371602') format('woff'),
       url('iconfont.ttf?t=1711806371602') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ditu:before {
  content: "\e68b";
}

.icon-huanbao:before {
  content: "\e698";
}

.icon-close:before {
  content: "\e646";
}

.icon-setting:before {
  content: "\e67d";
}

.icon-user:before {
  content: "\e682";
}

.icon-minus-bold:before {
  content: "\e686";
}

.icon-window-restore:before {
  content: "\e669";
}

.icon-window-maximize:before {
  content: "\e679";
}

.icon-QQ1:before {
  content: "\e667";
}

.icon-github1:before {
  content: "\ea0b";
}

.icon-shejiaotubiao-01:before {
  content: "\e641";
}

.icon-zhifubao:before {
  content: "\e607";
}

.icon-weixin:before {
  content: "\e619";
}

.icon-zhifubaozhifu:before {
  content: "\e612";
}

.icon-QQ:before {
  content: "\e887";
}

.icon-github:before {
  content: "\e689";
}

