:root {
  --el-color-primary: #3E6BFF;
  --el-button-hover-border-color: #3E6BFF;
  --el-button-hover-bg-color: #3E6BFF;
  --el-color-primary-light-3: #3E6BFF;
  --el-color-primary-light-9: #e8eeff;
  --el-text-color-primary: #333;
  // --el-fill-color-light: #e8eeff;
  --el-menu-base-level-padding: 12px;
  --el-menu-icon-width: 16px;
  --el-menu-item-height: 42px;
  --el-tabs-header-height: 34px;
  --el-menu-level-padding: 12px;
  --el-dialog-padding-primary: 12px;
}