// 颜色定义规范
$theme: #4E68F6;
$color-primary: #4E68F6;
$color-danger: #ff4d4f;
$color-info: #aaa;
$color-none: #ccc;
$color-success: #13B281;
$color-warning: #E6A23C;
$color-black: #000000;
$color-white: #ffffff;
$color-nav: linear-gradient(46deg, #4863ff 0%, #4864ff 100%) #2f33ec;
$color-menu: #FDFDFD;
$color-btn-primary: #2C69FF;
$color-header-bar-bg: #2C69FF;
$color-header-bar-fg: #ffffff;
$color-header-bar-box-shadow: 0px 0px 19px 0px rgba(167,184,242,0.50); 
$color-header-bar-text-normal: #d3e0ff;
$color-header-bar-text-active: #ffffff;
//字体定义规范
$font-huge: 18px;
$font-large: 16px;
$font-medium: 14px;
$font-normal: 12px;
$font-mini: 10px;
$font-xs: 8px;
$font-family:PingFangSC-Medium, PingFang SC;

//高度定义规范
$height-nav: 60px;
$height-menu: 32px;
$height-tools: 32px;
$height-tools-editor: 35px;

$grey: #BFBFBF;
$red: #EC0000;
$primary: #0E77D1;
$blue: #0E77D1;
$green: #288806;
$yellow: #FFB300;
