/**
* 自定义表单样式
*/
.show-var_datePicker {
  width: 12px;
  .ant-calendar-picker {
    min-width: 0 !important;
  }
  .ant-input {
    display: none;
  }
  .ant-calendar-picker-icon {
    right: -6px;
    margin-top: -12px;
    cursor: pointer;
    color: $color-primary;
  }
  .ant-calendar-picker-clear {
    display: none;
  }
}

.textarea-button {
  position:relative;
  &_textarea {
    width: 88%;
  }
  &_button {
    position: absolute;
    right: 0px;
    height: calc(100% - 4px);
    width: 12%;
    padding: 0 8px;
  }
}

.range-input-number {
  .ant-input-number {
    width: 100%;
  }
  .ant-input-number-focused {
     z-index: 8;
  }
  .ant-input-number:hover{
    z-index: 8;
    border-left-color: $color-primary !important;
  }
}

.pick-button {
  width: 36px;
  height: 36px;
  border: 1px solid #d9d9d9;
  text-align: center;
  line-height: 36px;
  border-radius: 4px;
  cursor: pointer;
}

.textarea-var {
  position: relative;
  &_textarea {
    padding-right: 30px;
  }
  &_icon {
    position: absolute;
    right: 12px;
    // top: 15px;
    top: 5px;
  }
}

.keyboard {
  &-base {
    width: 100%;
    height: 32px;
    padding: 4px 11px;
    border-radius: 4px;
    text-align: center;
  }
  &-background_default {
    background-color:#DBE7F2;
  }
  &-background_active {
    background-color:#BFE2FF;
  }
  &-border_default {
    border:1px solid #d9d9d9;
  }
  &-border_active {
    border: 1px solid #40a9ff;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }
  &-icon {
    cursor: pointer;
    float: right;
    padding-top: 4px;
  }
}

.select-transfer {
  &_swap {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center
  }
}

.addon {
  .ant-input-group-addon {
    padding: 0;
  }
  &-after {
    padding: 0 11px;
  }
}


.icon-color {
  color: $color-primary;
}
.font-24 {
  font-size: 24px;
}

.font-12 {
  font-size: $font-normal;
}

.pointer {
  cursor: pointer;
}

.width-100 {
  width: 100%;
}

.height_24 {
  height: 24px;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.colorTheme {
  color: $theme;
}

.marginTop10 {
  margin-top: 10px;
}

.marginTop6 {
  margin-top: 6px;
}
.marginTop5 {
  margin-top: 5px;
}